:root {
    font-size: 18px;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 3.05rem;
}

.section-1 {
    background-image: url(./assets/img-4.jpg);
    min-height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-1-1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.section-1-1-1 p {
    margin: 18px;
    color: rgba(243, 208, 12, 0.911);
}

.section-1-1 span {
    color: #fff;
}

.section-1-1 img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50px;
    border-radius: 0px 0px 30px 30px;
}

@media (max-width: 768px) {
    .section-1-1 img {
        max-width: 20%;
    }
}

.section-1-2 {
    text-align: center;
    margin: 38px 40px;
}

@media (max-width: 830px) {
    .section-1-2 img {
        width: 250px;
    }
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-1 {
    display: flex;
    align-items: center;
    padding: 100px 50px 100px 100px;
    color: rgb(4, 146, 202);
    font-size: 3.05rem;
}

.section-2-2 {
    padding: 100px 100px 100px 50px;
}

.section-2-2 div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section-2-2 p,
.section-2-2 h2 {
    margin: 0px;
    padding: 20px 5px;
}

.section-2-2 button {
    min-width: 5.73%;
    border: none;
    padding: 0px;
}

.section-2-2 h2 {
    min-width: 18.37%;
}

.section-2-2 p {
    min-width: 73.65%;
}

.section-2-2 hr {
    margin: 0px;
}


@media (max-width: 768px) {
    .section-2 {
        flex-direction: column;
        align-items: center;
    }
}

.section-3 {
    background: linear-gradient(rgba(212, 159, 44, 0.6), rgba(212, 159, 44, 0.6)), url(./assets/img-1.jpg);
    background-size: cover;
    min-height: 540px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.section-4 {
    background-color: rgb(97, 97, 97);
    color: #fff;
}

.section-4-1 {
    text-align: center;
    padding: 20px 0px 10px;
}

.section-4-2 {
    min-height: 75vh;
}

.section-4-2-1 {
    width: 29%;
    margin-left: 40px;
    text-align: end;
}

.section-4-2-1-img {
    max-width: 100%;
}

.section-4-2-1 p {
    margin: 15px 0px 5px 0px;
}

.section-4-2-1 p button {
    border-radius: 50%;
}

.section-4-2-2 {
    width: 71%;
}

.section-5 {
    background-color: rgb(105, 154, 195);
    display: flex;
}

.section-5 figure {
    width: 24%;
    padding: 50px 0px 50px 50px;
    margin: 0px
}

.section-5 div {
    width: 76%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 200px;
    color: #fff;
}

.section-5 div hr {
    height: 30px;
}

@media (max-width: 768px) {
    .section-5 {
        flex-direction: column;
        align-items: center;
    }
}